.speech{
    font-family: cursive; 
    font-size: 18px;
    color: black;
}
.direction{
    font-family: Fantasy; 
    font-size: 20px;
    color: black; 
    background-color: lightgray;
}
.direction:hover{
    background-color: CadetBlue ;
    color:AliceBlue;
    text-shadow: 6px 2px darkmagenta;
    height: 30px;
}
.name_DELANE{
    color:mediumblue;
    font-weight: bold;
}
.name_QUIRKE{
    color:rgb(7, 105, 105);
    font-weight: bold;
}
.name_JOYCE{
    color:blueviolet;
    font-weight: bold;
}
.name_SERGEANT{
 color:dodgerblue;
 font-weight: bold;
}
.name_HYACINTH{
color:rgb(177, 104, 9);
font-weight: bold;
}
.name_FARDY{
color:brown;
font-weight: bold;
}
table ,td,th{
    border-style:solid;
    color: darkblue;
    border-color: black;
    text-align: justify;
}
tr:nth-child(even) {
    background-color:lightblue;
  }
table{
    border-collapse: collapse;
    margin: 20px 30px 50px 75px; 
}
th{
    padding:2px 4px 6px 8px;
}
td{
    padding: 2px 4px 6px 8px;
}
.DELANE:hover{
    color:transparent;
    text-shadow: 2px 2px 4px black;
    font-size:23px;
    border: 2px solid yellowgreen;
    border-radius: 12px;
    padding: 10px;
    border-width: thick;
    width:200px;
    height: 20px;

}
.JOYCE:hover{
    color:transparent;
    text-shadow: 2px 2px 4px black;
    font-size:23px;
    border: 2px solid yellowgreen;
    border-radius: 12px;
    padding: 10px;
    border-width: thick;
    width:150px;
    height: 20px;
}
.SERGEANT:hover{
    color:transparent;
    text-shadow: 2px 2px 4px black;
    font-size:23px;
    border: 2px solid yellowgreen;
    border-radius: 12px;
    padding: 10px;
    border-width: thick;
    width:150px;
    height: 20px;
}
.DELANE{
    color:mediumblue;
    font-weight: bold;
}
.JOYCE{
    color:green;
    font-weight: bold;
}
.SERGEANT{
    font-size: 17px;
    font-weight: bold;
}